@font-face{
    font-family:'pokemon';
    src:url(/font/pocket.ttf);
    /* Otros atributos de la fuente, como font-weight y font-style, si es necesario */;
    color: #ffffffc0;
  }
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background: rgba(0,0,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(10,0,2,1) 36%, rgba(9,1,2,1) 61%, rgba(10,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(36%, rgba(10,0,2,1)), color-stop(61%, rgba(9,1,2,1)), color-stop(100%, rgba(10,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(10,0,2,1) 36%, rgba(9,1,2,1) 61%, rgba(10,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(10,0,2,1) 36%, rgba(9,1,2,1) 61%, rgba(10,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(10,0,2,1) 36%, rgba(9,1,2,1) 61%, rgba(10,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(10,0,2,1) 36%, rgba(9,1,2,1) 61%, rgba(10,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0a0000', GradientType=1 );
min-height:100vh ;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
   
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.shadow-pop:hover {
    animation: shadow-pop-bottom-right 0.5s linear both;

}

@keyframes shadow-pop-bottom-right {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e, 4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e, 8px 8px #3e3e3e;
        transform: translateX(-8px) translateY(-8px)
    }
}
.mainTitle{
    font-family:'pokemon';
    color: rgb(53,106,188);
}

.mainTitle span:nth-child(1){
    color: rgb(255, 0, 0);

}
.mainTitle span:nth-child(2){
    color: rgb(255,205,0);

}
.hidden {

    display: none;
    transition: all 300ms;
}

.bag {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url('../img/bag.svg');
    background-size: cover;
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    transition: all 300ms;
}

.bag:hover {
    transition: all 300ms;
    transform: scale(1.2);
}
.pulsate-bck {
	-webkit-animation: pulsate-bck 0.4s ease-in-out 2 both;
	        animation: pulsate-bck 0.4s ease-in-out 2 both;
}
@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  